{% extends "default.html" %}

{% block content %}
	{% if form.errors %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Ошибка!</strong> Неправильный логин или пароль.
		</div>
	{% endif %}
	
	<form class="form-horizontal" action="{% url auth_login %}" method="post">{% csrf_token %}
		<div class="control-group{% if form.errors %} error{% endif %}">
			<label class="control-label" for="inputLogin">Логин</label>
			<div class="controls">
				<input type="text" id="inputLogin" placeholder="Логин" name="username">
			</div>
		</div>
		<div class="control-group{% if form.errors %} error{% endif %}">
			<label class="control-label" for="inputPassword">Пароль</label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="Пароль" name="password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<p><a href="{% url auth_password_reset %}">Забыли логин или пароль?</a></p>
				<button type="submit" class="btn">Войти</button>
				<a class="btn btn-primary" href="{% url registration_register %}">РЕГИСТРАЦИЯ</a>
			</div>
		</div>
	</form>
{% endblock %}