{% extends "default.html" %}
{% load thumbnail %}

{% block content %}
	{% if news_list %}
		{% for item in news_list %}
			<div class="media">
				<a class="thumbnail pull-left" href="{{ item.get_item_url }}">
					{% if item.get_image %}
						{% thumbnail item.get_image "140x140" as im %}
							<img class="media-object" src="{{ im.url }}" alt="{{ item.get_title }}">
						{% endthumbnail %}
					{% else %}
						<img class="media-object" src="{{ MEDIA_URL }}img/no_image.png" alt="{{ item.get_title }}">
					{% endif %}
				</a>
				<div class="media-body">
					<h4 class="media-heading"><a href="{{ item.get_item_url }}">{{ item.get_title }}</a></h4>
					<small><strong>{{ item.created_at|date:"d.m.Y" }}</strong></small>
					<div>{{ item.get_announcement|truncatewords:"100"|safe }}</div>
					<a href="{{ item.get_item_url }}">Читать далее »</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h2>Раздел в разработке</h2>
	{% endif %}
	
	{% include "paginate.html" %}
{% endblock %}